<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
        <div id="titulo">
                <title><ui:insert name="pageTitle">Page Title</ui:insert></title>
        </div>

        <h:outputStylesheet library="css" name="estilo.css"></h:outputStylesheet>
</h:head>

<h:body>

        <div id="container">
                <div id="header">
                        <ui:insert name="pageHeader">Page Header</ui:insert>
                </div>
                <div id="mainnav">
                <h:form>
                        <ul>
                                <li><a href="#">Cadastro de Clientes</a></li>
                                <li><a href="#">Cadastro de Produtos</a></li>
                                <li><h:commandLink action="registroVendas" value="Registro da Venda" /></li>
                                <li><h:commandLink action="relatorio" value="Relatórios" /></li>
                                
                                <li><a href="#">Sobre</a></li>
                        </ul>
                </h:form>
                                        </div>
                <div id="menu">
                        <h3>Archives</h3>
                        <ul>
                                <li><a href="#">December 2003</a></li>
                                <li><a href="#">November 2003</a></li>
                                <li><a href="#">October 2003</a></li>
                                <li><a href="#">September 2003</a></li>
                                <li><a href="#">August 2003</a></li>
                        </ul>
                        <h3>Last 10 Entries</h3>
                        <ul>
                                <li><a href="#">Entry 120 (4)</a></li>
                                <li><a href="#">Entry 119 (0)</a></li>
                                <li><a href="#">Entry 118 (9)</a></li>
                                <li><a href="#">Entry 117 (3)</a></li>
                        </ul>
                </div>
                <div id="contents">
                        <ui:insert name="body">Page Body</ui:insert>
                </div>
                <div id="footer">
                        <ui:insert name="footer">Sistema de Vendas - Kurtphpr</ui:insert>
                </div>
        </div>

</h:body>

</html>

