<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="titulo">REBOTENET</ui:insert></title>
</h:head>
<h:body>
	<div id="container">
		<div id="barra_menu">
			<ui:insert name="barra_menu">
				<h:form>
					<p:menubar>
						<p:menuitem value="REOBOTNET" />
						<p:submenu label="Cadastros">
							<p:menuitem value="Cliente" action="cliente" />
							<p:menuitem value="Produto" action="produto" />
						</p:submenu>
						<p:submenu label="Vendas">
							<p:menuitem value="Registra Venda" action="registroVendas" />

						</p:submenu>
						<p:submenu label="Consultas">
							<p:menuitem value="" />
							<p:menuitem value="" />
						</p:submenu>
						<p:submenu label="Sistema">
							<p:menuitem value="Sobre" />
							<p:menuitem value="Sair" />
						</p:submenu>
					</p:menubar>
				</h:form>
		</ui:insert>
		</div>
		<div id="corpo">
			<ui:insert name="corpo"/>
		
		</div>
	</div>
</h:body>

</html>